@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--- Navigation ---*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, .6)!important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #F75E4F
}

/*--- Landing Page ---*/

.home-inner {
  background-image: url(img/computers.png);
  background-color: rgba(0, 0, 0, 0.1);
}

.caption {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: .4rem;
}

.caption a {
  color: white;
}

.caption svg.svg-inline--fa {
  margin: 0 .5rem 0 0;
  text-shadow: .1rem .1rem .8rem black;
}

.caption svg.svg-inline--fa:hover {
  color: #F75E4F!important
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: .9rem;
  margin-top: 6rem;
  margin-right: .5rem;
  text-shadow: .1rem .1rem .8rem black;
}

.btn-lg:hover {
  background-color: #F75E4F;
  color: white;
}

/*--- Projects Section ---*/

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #F75E4F;
  margin: 0 auto 2rem;
}

.card {
  position: relative;
  margin-bottom: 50px;
  color: #000;
  border-radius: 0;
  background-color: #fff;
}

.card-head {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(67, 78, 94, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.card-hover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(67, 78, 94, 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.project-buttons a {
  border-width: medium;
  border-radius: 0;
  margin-top: 9rem;
  margin-right: 1rem;
}

.project-buttons a:hover {
  background-color: #F75E4F;
  color: white;
}
/*--- Skills Section ---*/

.fixed {
  background-image: url(img/lake.jpeg);
  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 7rem 2rem;
  min-width: 100%;
}

.feature svg.svg-inline--fa {
  color: #F75E4F;
}

/*--- Contact Section ---*/

footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}

/*--- Media Queries ---*/

@media (max-width: 767px) {

  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }

  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .caption svg.svg-inline--fa {
    font-size: 2.5rem;
  }

  .btn-lg {
    padding: .5rem 1rem;
    font-size: .8rem;
    margin-top: 4rem;
    margin-right: .8rem;
  }
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
